In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [7]:
df.shape

(13, 3)

In [12]:
dummies = pd.get_dummies(df["town"])
dummies

    monroe township  robinsville  west windsor
0              True        False         False
1              True        False         False
2              True        False         False
3              True        False         False
4              True        False         False
5             False        False          True
6             False        False          True
7             False        False          True
8             False        False          True
9             False         True         False
10            False         True         False
11            False         True         False
12            False         True         False

In [17]:
dummies = dummies.astype("int64")
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [27]:
merged = pd.concat([df,dummies], axis = 1)
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [28]:
merged = merged.drop(columns = "town")
merged

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

Dropping one of the dummy variables as The third column (e.g., west windsor) is completely determined by the first two columns.
If using tree-based models (e.g., Decision Trees, Random Forests), dropping a column is not necessary because these models are not affected by multicollinearity.

In [29]:
final = merged.drop(columns = "west windsor")
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

Simple Linear Regression Model

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [32]:
X = final.drop(columns = "price")
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [33]:
y = final[["price"]]
y

     price
0   550000
1   565000
2   610000
3   680000
4   725000
5   585000
6   615000
7   650000
8   710000
9   575000
10  600000
11  620000
12  695000

In [31]:
model = LinearRegression()

In [34]:
model.fit(X,y)

LinearRegression()

In [36]:
model.score(X,y)

0.9573929037221872

In [39]:
model.coef_

array([[   126.89744141, -40013.97548914, -14327.56396474]])

In [40]:
model.intercept_

array([249790.36766293])

In [42]:
y_predict = model.predict(X)
y_predict = pd.DataFrame(y_predict)
y_predict

                0
0   539709.739841
1   590468.716405
2   615848.204687
3   666607.181251
4   717366.157816
5   579723.715330
6   605103.203612
7   668551.924317
8   706621.156740
9   565396.151365
10  603465.383788
11  628844.872071
12  692293.592776

## Label Encoding

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
df = pd.read_csv("homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [47]:
le = LabelEncoder()

In [50]:
dfle = df
dfle["town"] = le.fit_transform(dfle["town"])

In [51]:
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000